@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');
html {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.landing {
    background: url(../images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 32vh;
    text-align: center;
    padding: 1rem;
}

.landing span {
    font-size: 2rem;
}

.landing__input {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#ipText {
    width: 80vw;
    padding: 1rem;
    height: .8rem;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#getIpBtn {
    background-color: hsl(0, 0%, 17%);
    padding: .1rem;
    width: 40px;
}

.details {
    position: absolute;
    z-index: 200;
    background-color: white;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 18%;
    padding: 1rem;
    flex-direction: column;
    border-radius: 5px;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .6rem;
}

.details__isp {
    margin-bottom: 0;
}

.heading {
    font-size: 1rem;
    color: hsl(0, 0%, 59%);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.value {
    color: hsl(0, 0%, 17%);
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
}

#mapid {
    width: 100vw;
    height: 70vh;
    z-index: 1;
}

.attribution {
    background-color: whitesmoke;
    width: 100vw;
    color: hsl(0, 0%, 17%);
}

@media screen and (min-width: 1000px) {
    .landing span {
        font-size: 2rem;
    }
    #ipText {
        padding: 1rem;
        font-size: 1rem;
        width: 40vw;
    }
    #getIpBtn {
        width: 50px;
    }
    .landing__input {
        padding: 1rem;
    }
    .details {
        padding: 2rem;
        flex-direction: row;
        width: 80vw;
        top: 20%;
    }
    .heading {
        font-size: 1rem;
    }
    .value {
        font-size: 1.4rem;
        margin-top: .5rem;
    }
    .result {
        margin-bottom: 1.2rem;
    }
    .attribution {
        font-size: .8rem;
    }
}